

<%=render :layout => 'common/mobile',
          :locals => { :page_id => mobile_page_id() , :page_title => "Nuevo Modelo de Pedido" } do %>
                  
  
  <div role="main" class="ui-content">    
      
    <%= render 'form' %>

  <div class="links_form"><%= link_to 'Salir', m_shipping_requests_path %></div> 


  </div> <!-- /content -->
  

<% end %>
