
<%=render :layout => 'common/mobile',
          :locals => { :page_id => mobile_page_id() , :page_title => "Modificar Marca de Vehículo" } do %> 
 
  <div role="main" class="ui-content">   
 
    <%= render 'form' %>
   
    <div class="links_form"><%= link_to 'Salir', vehicle_brands_path %></div>  

  </div> <!-- /content -->  
  
<% end %>
