
<table class="menu_superior" cellpadding=0 cellspacing=0> 
  <tr> 
    <% if @customer_shipping_orders_menu_selection == "Pendientes" %>
      <td class="link_inactivo">Pendientes</td>
    <% else %>
      <td><%= link_to "Pendientes",  controller: "customer_shipping_orders", action: "pending_requests" %> </td>
    <% end %>
    
    <td>|</td>
        
     <% if @customer_shipping_orders_menu_selection == "Cumplidos" %>
      <td class="link_inactivo">Cumplidos</td>
    <% else %>
      <td><%= link_to "Cumplidos",  controller: "customer_shipping_orders", action: "completed_requests"  %> </td>
    <% end %>
    
    <td>|</td>
    
    <% if @customer_shipping_orders_menu_selection == "Consultas" %>
      <td class="link_inactivo">Consultas</td>
    <% else %>
      <td><%= link_to "Consultas", "javascript:alert('to_do')" %>  </td>
    <% end %>
       
  </tr>
</table>

