<style>
	Body {font-family: Arial, Tahoma, Verdana; font-size:11pt }
</style>

<h2>UYPort - Sistema de Gestión de Transportes </h2>
<br>

Ver Trabajos 

<br><br>
<hr>
<h4>Configuración</h4>
<%= link_to "Vehículos", controller: "vehicles" %> <br>
<%= link_to "Ubicaciones", controller: "locations" %> <br>
<%= link_to "Recorridos", controller: "trips" %>