<style>
	Body {font-family: Arial, Tahoma, Verdana; font-size:11pt }
</style>

<table cellpadding="0" cellspacing="0" >
	<tr>
		<td width="150px" style="padding-right:10px"> 
<div id="accordion"> 
  <h4>Pedidos</h4>
  <div>    
  </div>
  <h4>Viajes</h4>
  <div>
  </div>
  <h4>Reportes</h4>
  <div>
  </div>
  <h4>GPS</h4>
  <div>
  	
  </div>
   <h4>Mantenimiento</h4>
  <div>
  </div>
</div>
	

		</td>
	</tr>

</table>


 <script>
  $( function() {
    $( "#accordion" ).accordion({
      collapsible: true
    });
  } );
 </script>


