
<%  item_url = sucta_registration_path(sucta_registration)
    item_id=mobile_item_id(item_url) %>

<div class="titulo_partial_modelo"> Registro SUCTA </div >  

<table class="tabla_campos_lectura" cellpadding=0 cellspacing=0>
  <tr>
  <th>Vencimiento:</th>
  <td> <%= sucta_registration.expiration.to_date %></td>
  </tr>  
  
  <tr>
  <th>Prórroga 6 meses ?:</th>
   <% if sucta_registration.extended == 1 %>
  <td>Sí</td>
  <% else %>
  <td>No</td>
   <% end %>    
  </tr>  
  
  <tr>
  <th>Comentarios:</th>
  <td> <%= sucta_registration.comments %></td>
  </tr>   

  <tr>
  <th> </th>
  <td> <div class="links_form"> <%= link_to 'Modificar',  edit_sucta_registration_path(sucta_registration) %> </div>  
 <div class="links_form"> <%= link_to 'Eliminar',"javascript:list_delete_resource_dialog('" + item_url + "', '" + item_id + "')"  %></div></td>
  </tr>  

</table>


