

<%=render :layout => 'common/mobile',
          :locals => { :page_id => mobile_page_id() , :page_title => "Ingresar Registro SUCTA" } do %>
                  
  
  <div role="main" class="ui-content">   
    
    <% @form_objs = [@vehicle, @sucta_registration] %>
    
    <%= render 'form' %>  

    <div class="links_form"><%= link_to 'Salir', vehicle_path(@vehicle) %></div> 

  </div> <!-- /content --> 

<% end %>
