<H1> Registro Sucta </H1>

<table class="tabla_campos_lectura" cellpadding=0 cellspacing=0>
  <tr>
  <th>Empresa:</th>
  <% if @sucta_registration.vehicle %>
  <td> <%=  @sucta_registration.vehicle.company.company_name %> </td>
  <% else %>
   <td> </td>
  <% end %>
  </tr>

  <tr>
  <th>Vencimiento:</th>
  <td> <%= @sucta_registration.expiration.to_date %></td>
  </tr>  
  
  <tr>
  <th>Prrórroga 6 meses ?:</th>
   <% if @sucta_registration.extended == 1 %>
  <td>Sí</td>
  <% else %>
  <td>No</td>
   <% end %>    
  </tr>  
  
   <tr>
  <th>Comentario:</th>
  <td> <%= @sucta_registration.comments %></td>
  </tr>  
     
</table>

<div class="links_form"><%= link_to 'Atrás', vehicles_path %></div>

