
<%=render :layout => 'common/mobile',
          :locals => { :page_id => mobile_page_id() , :page_title =>  "Carga" } do %> 
           
 
  <div role="main" class="ui-content">    
 
    <%= render 'form' %>
  
    <div class="links_form"><%= link_to 'Salir', shipping_request_path(@shipping_request) %></div>

  </div> <!-- /content -->  
  
<% end %>
