
<%=render :layout => 'common/mobile',
          :locals => { :page_id => mobile_page_id() , :page_title => "Dirección" } do %> 
           
 
  <div role="main" class="ui-content">     

	<%= render 'form' %>
    

	<div class="links_form"><%= link_to 'Salir', customer_path(@customer) %></div>
  

  </div><!-- /content --> 
   
  
<% end %>

