

<%=render :layout => 'common/mobile',
          :locals => { :page_id => mobile_page_id() , :page_title =>  "Indicación de Carga de Modelo de Pedido" } do %> 
           
 
  <div role="main" class="ui-content">    
	 
	  <% @form_objects = @m_requested_supply %>  
    <%= render 'form' %>
	      
    <div class="links_form"><%= link_to 'Salir', m_requested_cargo_path(@m_requested_supply.m_requested_cargo) %></div>
	      
  </div> <!-- /content -->  
  
<% end %>
