
.tabla_listado {
	margin-top: 20px;
	margin-bottom: 10px;
}

.tabla_listado  TH {
	padding: 5px 10px 5px 10px;
}

 .tabla_listado  TD {
	padding: 7px 10px 7px 10px;
 }
 

.tabla_listado_fila_cabezal {
	background-color: #4BC438;
	color: #FBFBFB;
}


.tabla_listado_fila_contenido TD {
	
	border-style: solid;
	border-color: #A0A0A0;
	border-width: 0px 0px 1px 0px;	
}

TR.tabla_listado_fila_contenido:Hover  TD{
	background-color: #F5FFF4;
}