<div class="titulo_partial_modelo">Indicaciones de Carga</div>  

<table class="tabla_campos_lectura" cellpadding=0 cellspacing=0>
     <tr>   
  <th>Cantidad:</th>  
	<td> <%=  requested_supply.ammount %> </td>
  </tr>
    <tr> 
  <th>Dirección de Carga:</th>  
	<td> <%=  requested_supply.address.description %> </td>
  </tr>
  <tr>
  <th>Comentarios:</th>  
	<td> <%=  requested_supply.comments %> </td>
  </tr>
  
</table>

