
<%=render :layout => 'common/mobile',
          :locals => { :page_id => mobile_page_id() , :page_title => "Ingresar Indicación de Carga" } do %>
                  
  
  <div role="main" class="ui-content">    
  
    <%= render 'form' %>
      
    <div class="links_form"><%= link_to 'Salir', requested_cargo_path(@requested_cargo) %></div> 


  </div> <!-- /content -->
  

<% end %>
