<H1> Categroía de Carga </H1>


<table class="tabla_campos_lectura" cellpadding=0 cellspacing=0>
  <tr>
  <th>Descripción:</th>
  <td><%= @cargo_category.description %></td>
  </tr>
   

<div class="links_form"><%= link_to 'Atrás', cargo_categories_path %></div>