<h1> Ingresar Indicación de Entrega de Modelo de Pedido</h1>
  
<%= render 'form' %>
  
<div class="links_form"><%= link_to 'Atrás', m_shipping_request_path(@m_requested_cargo.m_shipping_request) %></div>