<table cellpadding=0 cellsapcing=0 width=100%>
<tr>
<td width=60% class="celda_tabla_panel"> 
  <h1>Nuevo Viaje</h1> 
  <%= render 'form' %>
</td> 
<td class="celda_tabla_panel">
  <%= render 'last_shipments' %>
</td>
</tr>
</table>
  
 
<div class="links_form"><%= link_to 'Atrás', @back_option %></div>



<% @mioncas = Vehicle.where("vehicle_type_id='" + @shipping_request.service.vehicle_type_id.to_s + "'") %>
 <%  @mioncas.each do |m| %>
    <br> <%= m.number_plate %>
<% end %>