 
   <tr>   
    <td> <%= shipment_supply.address.description %> </td>
 	<td> <%= shipment_supply.amount %> <%= shipment_supply.shipment.shipping_request.measure_unit.symbol %>  </td>
  </tr>
   
   

