

<%=render :layout => 'common/mobile',
          :locals => { :page_id => mobile_page_id() , :page_title =>  "Entrega de Material" } do %> 
           
 
  <div role="main" class="ui-content">    ﻿
 
    <%= render 'form' %>
  
  
    <div class="links_form"><%= link_to 'Salir',  shipments_path(@shipment)  %></div>  

  </div> <!-- /content -->  
  
<% end %>
