
  <div data-role="page" class="ui-responsive-panel">

  <div data-role="header">
    <h2 style="color:green">Odacor MS</h2>
    
    <a href="#nav-panel" data-icon="bars" data-iconpos="notext">Menu</a>
    
  </div><!-- /header -->

      