 
  <tr>   
    <td> <%= shipment_delivery.requested_delivery.address.description %> </td>
  	<td> <%= shipment_delivery.requested_delivery.requested_cargo.cargo_type.description %> </td>
 	<td> <%= shipment_delivery.ammount %> <%= shipment_delivery.requested_delivery.requested_cargo.cargo_type.measure_unit.symbol %>  </td>
  </tr>
   

