 
  <tr>   
    <td> <%= shipment_delivery.address.description %> </td>
 	<td> <%= shipment_delivery.amount %> <%= shipment_delivery.shipment.shipping_request.measure_unit.symbol %>  </td>
  </tr>
   

