<!DOCTYPE html>
<html>
<head>
  <title>Odacor MS :P </title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  
  
   
  <link rel="stylesheet" media="all" href="/assets/date_picker/jquery.mobile.datepicker.css" />
  <script src="/assets/date_picker/jquery.ui.datepicker.js"></script>
  <script src="/assets/date_picker/jquery.mobile.datepicker.js"></script>
  <script src="/assets/date_picker/jquery.ui.datepicker-es.js"></script>

</head>

   <%= yield %>
    
</html>
