<table cellpadding=0 cellsapcing=0 width=100%>
<tr>
<td width=60% class="celda_tabla_panel"> 
  <h1>Nuevo Viaje</h1> 
  <%= render 'form' %>
</td> 
</tr>
</table>
  
 
<div class="links_form"><%= link_to 'Atrás', @back_option %></div>

